body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#postDetailsDiv{
    border: 1px solid black;
    border-radius: 10px;
    width: 30vw;
    height: 25vh;
    background: linear-gradient(to right, #93A5CF ,#E4EfE9);
}
#comments{
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    /*align-content: center;*/
    justify-content: space-between;
    margin-bottom: 35px;
}
.coment{
    width: 21%;
    align-items: stretch;
    display: flex;
    background-color: #FDF5E9;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 90%;
    padding: 20px;
}